/*=====================================================
|-Estilos homePage                                       |
=====================================================*/
.containerHomePage{
    position: relative;
    width: 100vw;
    height: 50vh;
    background: url(../img/homePage.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 30px;
    z-index: 1;
}

.containerHomePage::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

/*=====================================================
|-Estilos Bienvenida                                  |
=====================================================*/
.containerHomePage .containerContenido{
    position: absolute;
    width: 100%;
    height: 45vh;
    z-index: 1;
}

.containerHomePage .containerContenido .descripcion{
    position: relative;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
}

.containerHomePage .containerContenido .descripcion h1{
    color: #fff;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
}

.containerHomePage .containerContenido .descripcion p{
    color: #fff;
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
}

/*==============================
|-Estilos Boton             |
===============================*/

.containerHomePage .containerContenido .descripcion a{
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.containerHomePage .containerContenido .descripcion a:hover{
    background: rgb(0, 119, 255);
    box-shadow: 0 0 10px rgb(0, 119, 255), 0 0 40px rgb(0, 119, 255), 0 0 80px rgb(0, 119, 255);
    transition-delay: 1s;
}

.containerHomePage .containerContenido .descripcion a span{
    position: absolute;
    display: block;
}

.containerHomePage .containerContenido .descripcion a #span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,  rgb(0, 119, 255));
}

.containerHomePage .containerContenido .descripcion a:hover #span1{
    left: 100%;
    transition: 1s;
}

.containerHomePage .containerContenido .descripcion a #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,  rgb(0, 119, 255));
}

.containerHomePage .containerContenido .descripcion a:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.containerHomePage .containerContenido .descripcion a #span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,  rgb(0, 119, 255));
}

.containerHomePage .containerContenido .descripcion a:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.containerHomePage .containerContenido .descripcion a #span4{
    bottom: -100%;
    width: 2px;
    height: 100%;
    left: 0;
    background: linear-gradient(360deg, transparent,  rgb(0, 119, 255));
}

.containerHomePage .containerContenido .descripcion a:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*=====================================================
|-Estilos Menu De Navegacion                         |
=====================================================*/
.containerMenu{
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    justify-content: space-between;
    background: transparent;
    transition: all ease-in .5s;
    z-index: 1000;
}

.containerNavbar-scroll{
    background: #2c2c2c;
}

.containerMenu .logoMenu{
    position: relative;
    left: 5%;
    top: 5px;
}

.containerMenu .menuResponsive{
    display: none;
}

.containerMenu nav{
    position: relative;
}

.containerMenu nav ul{
    padding: 10px 0;
}

.containerMenu nav ul .inicioResponsive{
    display: none;
}

.containerMenu nav ul li{
    display: inline;
    padding: 0px 20px;
}

.containerMenu nav ul li a{
    position: relative;
    font-size: 20px;
    color: #fff;
}

.containerMenu nav ul li a.active{
	color: #0077ff;
	text-shadow: 0 1px 5px #0077ff;
}

.containerMenu nav ul li a.active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #0077ff;
	transition: .5s all ease-in-out;
    opacity: 1;
}

.containerMenu nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #0077ff;
    transition: .5s all ease-in-out;
    opacity: 0;
}

.containerMenu nav ul li a::after{
    bottom: 0;
    right: 0;
}

.containerMenu nav ul li a:hover::after{
    opacity: .5;
    width: 100%;
    transition: .5s all ease-in-out;
}

.containerMenu nav ul li a:hover{
	opacity: .8;
	color: #0077ff;
}

.containerMenu .menuInicioDS{
    position: relative;
    right: 5%;
}

.containerMenu .menuInicioDS ul li{
    padding-top: 10px;
}

.containerMenu .menuInicioDS ul li a{
    font-size: 20px;
}

/*=====================================================
|-Diseño Responsive                                    |
=====================================================*/
/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/
@media screen and (max-width: 1190px){
    /*=====================================================
    |-Estilos Menu De Navegacion                         |
    =====================================================*/
    .containerMenu nav ul li{
        padding: 0px 10px;
    }

    .containerMenu .logoMenu{
        left: 2%;
    }

    .containerMenu .menuInicioDS{
        right: 2%;
    }
}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/
@media screen and (max-width: 980px){
    /*=====================================================
    |-Estilos Bienvenida                                  |
    =====================================================*/
    .containerHomePage .containerContenido .descripcion{
        top: 25%;
    }

    .containerHomePage .containerContenido .descripcion h1{
        padding-top: 40px;
    }

    .containerHomePage .containerContenido .descripcion p{
        font-size: 20px;
    }

    /*=====================================================
    |-Estilos Menu De Navegacion                         |
    =====================================================*/
    .containerMenu .logoMenu{
        position: relative;
        width: 40%;
        left: 5%;
        top: 5px;
    }

    .containerMenu .logoMenu img{
        width: 100% !important;
    }

    .containerMenu .menuResponsive{
        position: relative;
        display: block;
        height: 100%;
        right: 5%;
    }

    .containerMenu .menuResponsive a{
        position: relative;
        font-size: 45px;
        bottom: 8px;
        color: #0077ff;
        transition: .3s all ease-in-out;
    }

    .containerMenu .menuResponsive a:hover{
        color: #fff;
    }

    .containerMenu nav{
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 50px;
        left: 0;
        right: 0;
        background: rgb(0, 119, 255);
        text-align: center;
    }

    .containerMenu nav ul{
        padding-top: 25px;
    }

    .containerMenu nav ul .inicioResponsive{
        display: block;
    }

    .containerMenu nav ul li{
        display: block;
        padding: 20px 0px;
    }

    .containerMenu nav ul li a{
        font-size: 25px !important;
        color: #fff !important;
    }

    .containerMenu .menuInicioDS{
        display: none;
    }

}
/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/
@media screen and (max-width: 600px){
    /*=====================================================
    |-Estilos Bienvenida                                  |
    =====================================================*/
    .containerHomePage .containerContenido .descripcion h1{
        font-size: 25px;
    }

    .containerHomePage .containerContenido .descripcion p{
        font-size: 17px;
    }

    /*=====================================================
    |-Estilos Menu De Navegacion                         |
    =====================================================*/
    .containerMenu .logoMenu{
        width: 50%;
    }

}