/*=====================================================
|-Estilos San Francisco City                     |
=====================================================*/
.containerHeaderSF {
	position: relative;
	width: 100vw;
	height: 70vh;
	background: url(../img/productos/sfc/tablero.jpeg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-bottom: 30px;
	z-index: 1;
}

.containerHeaderSF::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: -1;
}

center .btnCD {
	position: relative;
	display: inline-block;
	padding: 5px 30px;
	letter-spacing: 4px;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s;
}

center .btnCD:hover {
	background: rgb(0, 119, 255);
	color: #fff !important;
	box-shadow: 0 0 10px rgb(0, 119, 255), 0 0 40px rgb(0, 119, 255), 0 0 80px rgb(0, 119, 255);
	transition-delay: 1s;
}

center .btnCD span {
	position: absolute;
	display: block;
}

center .btnCD #span1 {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, rgb(0, 119, 255));
}

center .btnCD:hover #span1 {
	left: 100%;
	transition: 1s;
}

center .btnCD #span3 {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, rgb(0, 119, 255));
}

center .btnCD:hover #span3 {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

center .btnCD #span2 {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, rgb(0, 119, 255));
}

center .btnCD:hover #span2 {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

center .btnCD #span4 {
	bottom: -100%;
	width: 2px;
	height: 100%;
	left: 0;
	background: linear-gradient(360deg, transparent, rgb(0, 119, 255));
}

center .btnCD:hover #span4 {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}

/*==============================
|-Estilos Contenido             |
==============================*/
.containerHeaderSF .contenidoSF {
	position: absolute;
	width: 90%;
	top: calc(50% + 50px);
	left: 50%;
	transform: translate(-50%, -50%);
}

.containerHeaderSF .contenidoSF h2 {
	color: #fff;
	font-size: 50px;
	text-align: center;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.containerHeaderSF .contenidoSF h3 {
	color: #fff;
	font-size: 40px;
	padding-top: 20px;
	text-align: center;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

/*==============================
|-Estilos Problematica          |
===============================*/
.problematicaYSolucion {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.problematicaYSolucion .contenedorProblematicaYSolucion {
	display: flex;
	width: 90%;
	height: auto;
	margin-left: 5%;
	margin-bottom: 50px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.problematicaYSolucion .contenedorProblematicaYSolucion .contenedorImagenProblematicaYSolucion {
	width: 45%;
	height: 300px;
	margin-top: 20px;
}

.problematicaYSolucion .contenedorProblematicaYSolucion .descripcionProblematicaYSolucion {
	width: 45%;
	margin-top: 20px;
}

.problematicaYSolucion .contenedorProblematicaYSolucion .descripcionProblematicaYSolucion p {
	font-size: 20px;
	padding-top: 10px;
	text-align: justify;
	color: #2c2c2c;
}

/*==============================
|-Estilos Partes Del Juego     |
===============================*/
.contenedorDescripcionJuego {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.contenedorDescripcionJuego .contenedorPartesJuego {
	display: flex;
	width: 90%;
	height: auto;
	margin-left: 5%;
	margin-bottom: 80px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contenedorDescripcionJuego .contenedorPartesJuego .contenedorImagen {
	width: 45%;
	height: 300px;
	margin-top: 20px;
}

.contenedorDescripcionJuego .contenedorPartesJuego .contenedorEspecificaciones {
	width: 45%;
	height: 300px;
	margin-top: 20px;
	overflow: hidden;
	overflow-y: scroll;
	transition: 0.5s all ease-in-out;
}

.contenedorDescripcionJuego .contenedorPartesJuego .contenedorEspecificaciones::-webkit-scrollbar {
	width: 5px;
	transition: 0.5s all ease-in-out;
}

.contenedorDescripcionJuego .contenedorPartesJuego .contenedorEspecificaciones::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 15px;
	transition: 0.5s all ease-in-out;
}

.contenedorDescripcionJuego
	.contenedorPartesJuego
	.contenedorEspecificaciones:hover::-webkit-scrollbar-thumb {
	background: #0077ff;
}

.contenedorDescripcionJuego .contenedorPartesJuego .contenedorEspecificaciones h2 {
	font-size: 50px;
	text-align: center;
	color: #0077ff;
	text-shadow: 0 0 10px rgba(0, 119, 255, 0.5), 0 0 10px rgba(0, 119, 255, 0.5);
	text-transform: capitalize;
	letter-spacing: 2px;
}

.contenedorDescripcionJuego .contenedorPartesJuego .contenedorEspecificaciones p {
	font-size: 20px;
	padding-top: 10px;
	padding-right: 15px;
	text-align: justify;
	color: #2c2c2c;
}

.contenedorDescripcionJuego .contenedorPartesJuego .contenedorEspecificaciones p span {
	color: #0077ff;
	text-transform: capitalize;
}

/*==============================
|-Estilos Reglas Del Juego      |
===============================*/
.contenedorReglasDelJuego {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.contenedorReglasDelJuego .contenedorDescripcionReglas {
	display: flex;
	width: 90%;
	height: auto;
	margin-left: 5%;
	margin-bottom: 80px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contenedorReglasDelJuego .contenedorDescripcionReglas .contenedorReglas {
	width: 45%;
	height: auto;
}

.contenedorReglasDelJuego .contenedorDescripcionReglas .contenedorReglas ul {
	width: 100%;
}

.contenedorReglasDelJuego .contenedorDescripcionReglas .contenedorReglas ul li {
	font-size: 20px;
	margin-bottom: 10px;
}

.contenedorReglasDelJuego .contenedorDescripcionReglas .contenedorReglas ul li i {
	color: #0077ff;
	text-shadow: 0 0 10px rgba(0, 119, 255, 0.5), 0 0 10px rgba(0, 119, 255, 0.5);
	padding-right: 5px;
}

.contenedorReglasDelJuego .contenedorDescripcionReglas .contenedorReglas ul li hr {
	background: #0077ff;
	height: 2px;
}

.contenedorReglasDelJuego .contenedorDescripcionReglas .contenedorReglas ul li span {
	color: #0077ff;
}

.contenedorReglasDelJuego .contenedorDescripcionReglas .contenedorReglas ul li ul {
	padding-left: 15%;
}

.contenedorReglasDelJuego .contenedorDescripcionReglas .contenedorReglas ul li ul {
	padding-top: 10px;
}

/*=====================================================
|-Diseño Responsive                                    |
=====================================================*/
/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/
@media screen and (max-width: 980px) {
	/*==============================
    |-Estilos Problematica          |
    ===============================*/
	.problematicaYSolucion .contenedorProblematicaYSolucion .contenedorImagenProblematicaYSolucion {
		width: 100%;
		margin-top: 20px;
	}

	.problematicaYSolucion .contenedorProblematicaYSolucion .descripcionProblematicaYSolucion {
		width: 100%;
		order: 2;
	}

	/*==============================
    |-Estilos Partes Del Juego     |
    ===============================*/
	.contenedorDescripcionJuego .contenedorPartesJuego .contenedorImagen {
		width: 100%;
		margin-top: 30px;
		order: 2;
	}

	.contenedorDescripcionJuego .contenedorPartesJuego .contenedorEspecificaciones {
		width: 100%;
		margin-top: 10px;
	}

	/*==============================
    |-Estilos Reglas Del Juego      |
    ===============================*/
	.contenedorReglasDelJuego .contenedorDescripcionReglas .contenedorReglas {
		width: 100%;
		height: auto;
	}
	.footer {
		position: relative;
		top: 0px;
	}
}
/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/
@media screen and (max-width: 600px) {
	/*==============================
    |-Estilos Contenido             |
    ==============================*/
	.containerHeaderSF .contenidoSF h2 {
		font-size: 20px;
	}

	.containerHeaderSF .contenidoSF h3 {
		font-size: 17px;
	}

	/*==============================
    |-Estilos Partes Del Juego     |
    ===============================*/
	.contenedorDescripcionJuego .contenedorPartesJuego .contenedorImagen {
		width: 100%;
		margin-top: 20px;
		order: 2;
	}

	.contenedorDescripcionJuego .contenedorPartesJuego .contenedorEspecificaciones {
		width: 100%;
		height: auto;
		margin-top: 10px;
		overflow-y: none;
	}
}
