/*=====================================================
|-Estilos De Ventana Modal De iniciar sesion y Registro|
=====================================================*/
.containerModalLR {
	position: absolute;
	overflow: hidden;
}
.containerModalLR .containerContenido {
	position: fixed;
	width: 40vw;
	height: 95vh;
	margin: 0 auto;
	top: 20px;
	padding: 5px;
	border-radius: 10px;
	overflow: hidden;
}

/*=====================================================
|-Estilos Header Modal                                |
=====================================================*/
.containerModalLR .containerContenido .modalHeader {
	position: relative;
	display: flex;
	width: 90%;
	height: 120px;
	flex-direction: column;
	left: 50%;
	transform: translateX(-50%);
}

.containerModalLR .elegir {
	display: flex;
	position: relative;
	width: 100%;
	box-shadow: 0 0 10px 3px rgb(0, 119, 255);
	border-radius: 30px;
	text-align: center;
}

.containerModalLR .elegir .toggle-btn {
	width: 40%;
	position: relative;
	padding: 10px 0px;
	cursor: pointer;
	border-radius: 30px;
	border: 0;
	background: transparent;
	color: #fff;
	text-align: center;
	outline: none;
	transition: 0.8s all linear;
}

.containerModalLR .elegir #EL {
	position: absolute;
	width: 40%;
	height: 100%;
	border-radius: 30px;
	background: rgb(0, 119, 255);
	transition: 0.8s all linear;
}

.containerModalLR .containerRD {
	position: relative;
	width: 100%;
	height: 30px;
	margin: 10px 0;
	text-align: center;
}

.containerModalLR .containerRD ul li {
	display: inline;
	padding: 0 20px;
}

.containerModalLR .containerRD ul li a {
	font-size: 35px;
}

.containerModalLR .containerRD ul li:nth-child(1) a {
	color: #3b5998;
}

.containerModalLR .containerRD ul li:nth-child(2) a {
	color: #db4437;
}

.containerModalLR .containerRD ul li:nth-child(3) a {
	color: #211f1f;
}

/*=====================================================
|-Estilos Body Modal                                  |
=====================================================*/
.containerModalLR .containerContenido .modalBody {
	position: relative;
	width: 100%;
}

.containerModalLR .containerContenido .inputGroup {
	position: relative;
	width: 70%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.8s all linear;
}

.mostrar-iniciar {
	height: auto;
	top: 0%;
	opacity: 1;
}

.ocultar-iniciar {
	height: 0;
	top: -150%;
	opacity: 0;
}

.mostrar-registro {
	height: auto;
	opacity: 1;
}

.ocultar-registro {
	height: 0;
	opacity: 0;
}

.mostrar-recuperar {
	height: auto;
	top: 0%;
	opacity: 1;
}

.ocultar-recuperar {
	height: 0;
	top: 110%;
	opacity: 0;
}

.containerModalLR .containerContenido .inputGroup .modalLogo {
	position: relative;
	width: 500px;
	height: 90px;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
	text-align: center;
}

.containerModalLR .containerContenido .inputGroup .modalLogo p {
	font-size: 20px;
	padding-top: 10px;
	color: rgb(0, 119, 255);
}

.containerModalLR .containerContenido .inputGroup .inputField {
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border: 0;
	border-bottom: 2px solid rgb(0, 119, 255);
	outline: none;
	background: transparent;
}

.containerModalLR .containerContenido .inputGroup .checkbox {
	margin: 30px 10px 20px 0;
}

.containerModalLR .containerContenido .inputGroup a {
	display: block;
	font-size: 17px;
	margin-bottom: 10px;
	color: rgb(0, 119, 255);
}

.containerModalLR .containerContenido .inputGroup .submitButton {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 10px auto;
	background: rgb(0, 119, 255);
	color: #fff;
	border: 0;
	outline: none;
	border-radius: 30px;
}

/*============================================================
|-Diseño Responsive Ventana Modal De iniciar sesion y Registro|
==============================================================*/
/*=============================================
Ipad o Ipad Pro
=============================================*/
@media screen and (min-height: 900px) {
	.containerModalLR .containerContenido .inputGroup .modalLogo {
		position: relative;
		width: 500px;
		height: 200px;
	}
}
/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/
@media screen and (max-width: 1199px) {
	/*=====================================================
    |-Estilos De Ventana Modal De iniciar sesion y Registro|
    =====================================================*/
	.containerModalLR .containerContenido {
		height: 90vh;
	}

	/*=====================================================
    |-Estilos Body Modal                                  |
    =====================================================*/
	.containerModalLR .containerContenido .inputGroup {
		width: 90%;
	}

	.containerModalLR .containerContenido .inputGroup .modalLogo {
		width: 100%;
	}
}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/
@media screen and (max-width: 980px) {
	/*=====================================================
    |-Estilos De Ventana Modal De iniciar sesion y Registro|
    =====================================================*/
	.containerModalLR .containerContenido {
		width: 70vw;
	}

	/*=====================================================
    |-Estilos Body Modal                                  |
    =====================================================*/
	.containerModalLR .containerContenido .modalBody {
		left: 0%;
	}

	.containerModalLR .containerContenido .inputGroup {
		width: 90%;
	}

	.containerModalLR .containerContenido .inputGroup .modalLogo {
		width: 100%;
		right: 0;
	}

	.containerModalLR .containerContenido .inputGroup .modalLogo p {
		font-size: 20px;
	}

	.containerModalLR .containerContenido .inputGroup:nth-child(3) .modalLogo p {
		font-size: 13px !important;
	}

	.containerModalLR .containerContenido .inputGroup .checkbox {
		margin: 10px 5px 5px 0;
	}

	.containerModalLR .containerContenido .inputGroup:nth-child(2) a {
		font-size: 13px;
	}
}
/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/
@media screen and (max-width: 600px) {
	/*=====================================================
    |-Estilos De Ventana Modal De iniciar sesion y Registro|
    =====================================================*/
	/*=====================================================
    |-Estilos Header Modal                                |
    =====================================================*/
	.containerModalLR .containerRD ul li {
		padding: 0 10px;
	}

	.containerModalLR .elegir .toggle-btn {
		font-size: 10px;
	}

	.containerModalLR .containerContenido {
		width: 90vw;
		height: 95vh;
		margin: 0;
		left: 5%;
	}
}
