/* Styles AboutUs */
.about-us_container {
	margin-bottom: 20px;
	position: relative;
	width: 100%;
}

/* Description Styles */
.about-us_content {
	left: 5%;
	margin-top: 80px;
	position: relative;
	width: 90%;
}

/* Navbar About Styles */
.navbar-about {
	position: relative;
	width: 100%;
}

.navigation-about {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
}

.navigation-about li a {
	color: #4e4c6b !important;
	display: block;
	font-size: 20px;
	font-weight: 500;
	text-transform: capitalize;
	transition: all 0.3s ease-in;
}

.navigation-about li a:hover {
	transform: scale(1.1);
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

.navigation-about li a.active {
	transform: scale(1.1);
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

/* About Content Styles */
.about-us_container-text {
	margin-top: 35px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.about-us_section-text {
	background: rgba(19, 20, 42, 0.702);
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: none;
	opacity: 0;
	position: relative;
	width: 100%;
}

.about-us_section-text p {
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	padding: 10px 15px;
}

.about-us_section-text.active {
	display: block;
	opacity: 1;
}

@media screen and (max-width: 1199px) {
	.navigation-about li a {
		font-size: 17px;
	}
}

@media screen and (max-width: 980px) {
	.navigation-about {
		flex-direction: column;
	}

	.navigation-about li a {
		font-size: 20px;
		padding-bottom: 20px;
	}

	.navigation-about li a:hover {
		transform: translateX(10px);
	}

	.navigation-about li a.active {
		transform: translateX(10px);
	}

	/* About Content Styles */
	.about-us_container-text {
		margin-top: 15px;
	}
}
