/* Styles AboutUs */
.about-us_container {
	height: auto;
	position: relative;
	margin-bottom: 30px;
	width: 100%;
}

/* Description Styles */
.description-container {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	justify-content: space-around;
	margin-left: 5%;
	margin-bottom: 50px;
	width: 90%;
}

.image-about_container {
	height: 400px;
	margin-top: 20px;
	width: 45%;
}

.text-container {
	margin-top: 20px;
	width: 45%;
}

.text-container h2 {
	color: #0077ff;
	font-size: 35px;
	letter-spacing: 2px;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 119, 255, 0.5), 0 0 10px rgba(0, 119, 255, 0.5);
	text-transform: capitalize;
}

.text-container p {
	color: #2c2c2c;
	font-size: 20px;
	text-align: justify;
	padding-top: 10px;
}

/*=====================
(MD we check in 1024px)
=====================*/
@media screen and (max-width: 1199px) {
	.text-container h2 {
		font-size: 35px;
	}

	.text-container p {
		font-size: 17px;
	}
}

/*=====================
(SM we check in 768px)
=====================*/
@media screen and (max-width: 980px) {
	.image-about_container {
		order: 1;
		width: 100%;
	}

	.text-container {
		width: 100%;
	}

	.text-container h2 {
		font-size: 50px;
	}
}

/*=====================
(XS we check in 320px)
=====================*/
@media screen and (max-width: 600px) {
	.image-about_container {
		height: 250px;
	}

	.text-container h2 {
		font-size: 22px;
	}
}
