/* Administration Panel Styles */
.admin-home {
	background: #0c0c22;
	position: relative;
	width: 100%;
	height: 100vh;
}

.admin-home-content {
	color: #aaa6ca;
	left: 50%;
	position: absolute;
	top: calc(50% + 25px);
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: capitalize;
	width: 70vw;
	z-index: 1;
}

.admin-home-content .form-contact {
	background: #0c0c22;
}

.admin-home-content h2 {
	font-size: 40px;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.admin-home-content h2 .jay-admin {
	color: #4e4c6b;
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

.list-container {
	height: 100vh;
	position: absolute;
	width: 100vw;
}

.list-content {
	border-radius: 5px;
	left: 50%;
	max-height: 500px;
	overflow: hidden;
	overflow-y: scroll;
	position: relative;
	padding: 15px;
	top: 55%;
	transform: translate(-50%, -50%);
	width: 95vw;
}

.list-content .button {
	color: #fff;
	padding: 10px 20px;
}

.list-content .button.form-button {
	background: #fc1b2d80;
}

.list-content .button.default {
	background: #115bfc80;
}

.list-content .button.form-button::after {
	border-bottom: 60px solid #fc1b2d;
}

.list-content .button.default:hover::after {
	background: #115bfc;
}

.list-content table {
	border-collapse: collapse;
	margin-top: 30px;
	width: 100%;
}

.list-content thead tr th {
	color: #aaa6ca;
	background: #1a1a33;
	border-right: 1px solid #21213b;
	display: table-cell;
	padding: 0.75rem;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.list-content thead tr th:nth-child(1) {
	border-left: 1px solid #21213b;
}

.list-content tbody tr {
	background: #0c0c22;
	display: table-row;
	transition: all 0.3s ease-out;
	width: 100%;
}

.list-content tbody tr:hover {
	background-color: #21213b;
}

.list-content tbody tr td {
	color: #aaa6ca;
	display: table-cell;
	position: static;
	padding: 0.75rem;
	transition: all 0.3s ease-out;
}

.list-content tbody tr:hover td {
	color: #aaa6ca;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.list-content tbody tr td .field-question {
	align-items: center;
	background: #1a1a33;
	color: #aaa6ca;
	display: none;
	font-size: 0.75rem;
	font-weight: 700;
	height: 100%;
	justify-content: center;
	left: 0px;
	line-height: 1rem;
	position: absolute;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	text-transform: uppercase;
	top: 0px;
	width: 80px;
}

@media (min-height: 900px) {
	.list-content {
		max-height: 80vh;
	}
}

@media (max-width: 980px) {
	.list-content {
		max-height: 80vh;
	}

	.list-content thead tr th {
		display: none;
	}

	.list-content tbody tr {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 2.5rem;
	}

	.list-content tbody tr td {
		border-bottom: 1px solid #21213b;
		display: block;
		position: relative;
		padding-left: 5.75rem;
		width: 100%;
	}

	.list-content tbody tr td .field-question {
		display: flex;
	}
}

@media screen and (max-width: 600px) {
	.admin-home-content {
		width: 100vw;
	}

	.admin-home-content.admin-forms {
		position: relative;
		top: 0%;
		transform: translate(-50%, 10%);
		padding: 40px 0;
		margin-bottom: 40px;
	}

	.admin-home-content h2 {
		font-size: 30px;
	}

	.list-content .button {
		font-size: 15px;
		padding: 10px 15px;
	}
}
