/* Criminal Questions Styles */
.criminal-questions {
	background: #0c0c22;
	height: 100vh;
	position: relative;
	width: 100vw;
}

.criminal-questions .box-area li {
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.criminal-questions_content {
	left: 50%;
	position: absolute;
	top: calc(50% + 25px);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 90vw;
	z-index: 1;
}

.criminal-questions_content h2 {
	color: #aaa6ca;
	font-size: 50px;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.criminal-questions_buttons a {
	margin: 0 15px;
	margin-top: 40px;
}

.text-popups_cq {
	color: #aaa6ca;
	font-size: 20px;
	font-weight: 500;
}

.text-popups_cq span {
	color: #4e4c6b;
	text-transform: capitalize;
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

@media screen and (max-width: 600px) {
	.criminal-questions_content h2 {
		font-size: 30px;
	}

	.text-popups_cq {
		font-size: 17px;
	}
}
