/* Criminal Questions Game Styles */
.criminal-questions_game {
	background: #0c0c22;
	height: 100vh;
	position: relative;
	width: 100vw;
}

/* Button Return Styles */
.criminal-questions_game .button-return.game {
	display: none;
	opacity: 0;
}

.criminal-questions_game .button-return.game.active-return {
	display: block;
	opacity: 1;
}

.start-game_btn,
.info-box,
.quiz-box,
.result-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in;
}

.info-box.active-info,
.quiz-box.active-quiz,
.result-box.active-result {
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, -50%) scale(1);
	z-index: 10;
}

/* Start Game Button Styles */
.start-game_btn {
	background: #13142a;
	padding: 30px;
	opacity: 0;
	pointer-events: none;
	text-align: center;
	z-index: 5;
}

.start-game_btn.active-start {
	opacity: 1;
}

.start-game_btn h2 {
	color: #aaa6ca;
	font-size: 35px;
	padding-bottom: 25px;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.start-game_btn button {
	cursor: pointer;
	font-size: 25px;
	pointer-events: all;
}

.info-box {
	background: #13142a;
	border-radius: 5px;
	opacity: 0;
	width: 70vw;
}

.info-title {
	align-items: center;
	border-bottom: 1px solid #aaa6ca;
	color: #aaa6ca;
	display: flex;
	font-size: 25px;
	font-weight: 600;
	height: 60px;
	justify-content: center;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	width: 100%;
}

.info-list {
	padding: 15px 30px;
}

.info-list .info {
	color: #aaa6ca;
	font-size: 17px;
	margin: 5px 0;
}

.info-list .info span {
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	font-weight: 600;
}

.game-buttons {
	align-items: center;
	border-top: 1px solid #d3d3d3;
	display: flex;
	height: 70px;
	justify-content: flex-end;
	padding: 0 35px;
}

.game-buttons button {
	cursor: pointer;
	font-size: 17px;
	margin: 0 8px;
	padding: 10px 30px;
}

.quiz-box {
	background: #13142a;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);
	transition: all 0.3s ease;
	width: 70vw;
}

.quiz-box .header {
	align-items: center;
	background: #13142a;
	border-radius: 5px 5px 0 0;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
	color: #aaa6ca;
	display: flex;
	height: 70px;
	justify-content: space-between;
	position: relative;
	padding: 0 30px;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	z-index: 2;
}

.quiz-box .header .title {
	font-size: 25px;
	font-weight: 600;
}

.quiz-box .header .timer {
	align-items: center;
	background: #21213b;
	border: 1px solid #21213b;
	border-radius: 5px;
	color: #aaa6ca;
	display: flex;
	height: 45px;
	padding: 0 10px;
}

.quiz-box .header .timer .time-left_text {
	font-weight: 400;
	font-size: 17px;
	user-select: none;
}

.quiz-box .header .timer .time-sec {
	background: #1a1a33;
	border: 1px solid #1a1a33;
	border-radius: 5px;
	color: #aaa6ca;
	font-size: 18px;
	font-weight: 500;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	padding: 0 5px;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	text-align: center;
	user-select: none;
}

.quiz-box .header .time-line {
	background: #aaa6ca;
	bottom: 0px;
	height: 3px;
	left: 0px;
	position: absolute;
	transition: all 0.3s ease-in;
}

.section-questions {
	background: #13142a;
	padding: 25px 30px 20px 30px;
}

.section-questions .que-text {
	color: #aaa6ca;
	font-size: 25px;
	font-weight: 600;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.section-questions .option-list {
	display: block;
	padding: 20px 0px;
}

.section-questions .option-list .option {
	align-items: center;
	background: #1a1a33;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	display: flex;
	font-size: 17px;
	justify-content: space-between;
	margin-bottom: 15px;
	padding: 8px 15px;
	text-shadow: 0 0 10px #ffffff80, 0 0 10px #ffffff80;
	transition: all 0.3s ease;
}

.section-questions .option-list .option:last-child {
	margin-bottom: 0px;
}

.section-questions .option-list .option:hover {
	background: #21213b;
}

.section-questions .option-list .option.correct {
	background: #11fc4880;
}

.section-questions .option-list .option.incorrect {
	background: #fc1b2d80;
}

.section-questions .option-list .option.disabled {
	pointer-events: none;
}

.section-questions .option-list .option .icon i {
	border: 2px solid transparent;
	border-radius: 50%;
	font-size: 13px;
	height: 26px;
	line-height: 24px;
	pointer-events: none;
	text-align: center;
	transition: all 0.3s ease;
	width: 26px;
}
.option-list .option .icon.tick i {
	border-color: #23903c;
	background: #ffffff;
	color: #23903c;
}

.option-list .option .icon.cross i {
	background: #ffffff;
	border-color: #a42834;
	color: #a42834;
}

.footer-game {
	align-items: center;
	background: #13142a;
	border-top: 1px solid #aaa6ca;
	display: flex;
	height: 70px;
	justify-content: space-between;
	padding: 0 30px;
}

.footer-game .total-que span {
	display: flex;
	color: #aaa6ca;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	user-select: none;
}

.footer-game .next-btn {
	font-size: 18px;
	opacity: 0;
	padding: 10px 30px;
	pointer-events: none;
}

.footer-game .next-btn.show {
	opacity: 1;
	pointer-events: auto;
}

.result-box {
	align-items: center;
	background: #13142a;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	padding: 25px 30px;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);
	transition: all 0.3s ease;
	width: 70vw;
}

.result-box .complete-text {
	color: #aaa6ca;
	font-size: 25px;
	font-weight: 500;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.result-box .score-text span {
	display: flex;
	color: #aaa6ca;
	font-size: 18px;
	font-weight: 500;
	margin: 10px 0;
}

.result-box .score-text span p {
	font-weight: 600;
	padding: 0 4px;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.result-box .result-message h2 {
	color: #aaa6ca;
	font-size: 25px;
	font-weight: 500;
	padding-bottom: 10px;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	text-align: center;
}

.result-box .result-message h2.winner {
	color: #11fc48;
	text-shadow: 0 0 10px #11fc4880, 0 0 10px #11fc4880;
}

.result-box .result-message h2.loser {
	color: #fc1b2d;
	text-shadow: 0 0 10px #fc1b2d80, 0 0 10px #fc1b2d80;
}

.result-box .result-message h2.almost {
	color: #aaa6ca;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

@media screen and (max-width: 980px) {
	.start-game_btn {
		width: 80vw;
	}

	.info-box {
		width: 80vw;
	}

	.quiz-box {
		width: 80vw;
	}

	.result-box {
		width: 80vw;
	}
}

@media screen and (max-width: 600px) {
	#particles-js .button-return.game {
		padding: 5px 20px;
	}

	.start-game_btn {
		padding: 15px;
		width: 90vw;
	}

	.start-game_btn h2 {
		font-size: 30px;
	}

	.info-box {
		width: 90vw;
	}

	.info-title {
		font-size: 20px;
	}

	.info-list {
		padding: 10px 10px;
	}

	.info-list .info {
		font-size: 15px;
	}

	.game-buttons {
		justify-content: center;
	}

	.quiz-box {
		width: 90vw;
	}

	.quiz-box .header {
		height: auto;
		justify-content: center;
		flex-wrap: wrap;
	}

	.quiz-box .header .title {
		font-size: 20px;
	}

	.quiz-box .header .timer {
		height: 35px;
		margin: 10px 0;
		padding: 0 10px;
	}

	.section-questions {
		background: #13142a;
		padding: 10px 10px 10px 10px;
	}

	.section-questions .que-text {
		font-size: 15px;
	}

	.section-questions .option-list {
		padding: 15px 0px;
	}

	.section-questions .option-list .option {
		font-size: 14px;
		margin-bottom: 10px;
		padding: 5px 10px;
	}

	.section-questions .option-list .option .icon i {
		font-size: 10px;
		height: 20px;
		line-height: 16px;
		width: 20px;
	}

	.footer-game {
		padding: 0 20px;
	}

	.footer-game .next-btn {
		font-size: 15px;
	}

	.result-box {
		padding: 10px 10px;
		width: 90vw;
	}

	.result-box .complete-text {
		font-size: 20px;
	}

	.result-box .score-text span {
		font-size: 10px;
	}

	.result-box .result-message h2 {
		font-size: 17px;
	}

	.result-box .game-buttons-result {
		flex-wrap: wrap;
		height: auto;
		width: 100%;
	}

	.result-box .game-buttons-result button {
		margin-top: 10px;
	}
}
