.error-404 {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
}

.image-error-404 {
	width: 100%;
}

.image-error-404 img {
	width: 100%;
}

.error-404 h2 {
	font-size: 30px;
	font-weight: 500;
	margin-top: 30px;
	text-align: center;
}

.error-404 h2 span {
	color: #0077ff;
}

@media screen and (max-width: 980px) {
	.error-404 {
		width: 80%;
	}
}
