/* Footer Styles */
.footer {
	border-top: 5px solid #0c0c22;
	position: relative;
	padding-top: 30px;
	width: 100%;
}

.footer-content {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	width: 100%;
}

.footer-logo_container {
	height: 80px;
	margin: 0 auto;
	width: 350px;
}

.footer-logo_container img {
	height: 100%;
	width: 100%;
}

.social-media {
	align-items: center;
	display: flex;
	height: 10%;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
	position: relative;
	width: 100%;
}

.social-media a {
	background: #13142a;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	cursor: pointer;
	height: 70px;
	margin: 20px;
	position: relative;
	transition: 0.3s all ease;
	width: 70px;
}

.social-media a::before {
	background: #13142a;
	border-radius: 50%;
	content: '';
	height: 80%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s all ease;
	width: 80%;
}

.social-media a i {
	color: #aaa6ca;
	cursor: pointer;
	font-size: 35px;
	left: 50%;
	position: absolute;
	top: 50%;
	text-shadow: 0 0 2px #aaa6ca80, 0 0 2px #aaa6ca80;
	transform: translate(-50%, -50%);
	transition: 0.3s all ease;
}

.social-media a:hover::before {
	box-shadow: inset -4px -4px 20px 0 #13142a, inset 4px 4px 20px 0 rgba(0, 0, 0, 0.8);
}

.social-media a:hover i {
	font-size: 30px;
}

.footer-copy_content {
	background: #13142a;
	bottom: 0;
	padding: 10px;
	text-align: center;
	width: 100%;
}

.footer-copy_content p {
	color: #aaa6ca;
	font-size: 17px;
	font-weight: 500;
	margin: 0;
	text-transform: capitalize;
}

.footer-copy_content p a {
	color: #aaa6ca;
	text-shadow: 0 0 2px #aaa6ca80, 0 0 2px #aaa6ca80;
}

@media screen and (max-width: 600px) {
	.footer-logo_container {
		width: 250px;
	}

	.social-media {
		margin: 30px 0;
	}

	.social-media a {
		height: 120px;
		margin: 10px;
		width: 35%;
	}

	.social-media a i {
		font-size: 40px;
	}

	.social-media a:hover i {
		font-size: 35px;
	}
}
