/* Globals Styles */
* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

html,
body {
	background: #00001a;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Particles Styles */
#particles-js {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 100vh;
	position: relative;
	width: 100%;
}

/* Main Titles Styles */
.main-titles {
	color: #aaa6ca;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 50px;
	text-align: center;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	text-transform: capitalize;
}

.main-titles span {
	background: #21213b;
	border: 5px solid #1a1a33;
	box-shadow: 0px 1px 10px #aaa6ca80;
	border-radius: 5px;
	position: relative;
	padding: 0 20px;
}

/* Main Titles Popupts Styles */
.main-titles.popupt-error {
	color: #f17474;
	margin-top: 10px;
	margin-bottom: 25px;
	text-shadow: 0 0 2px #f1747480, 0 0 2px #f1747480;
}

.main-titles.popupt-error span {
	border: 5px solid #f17474;
	box-shadow: 0px 1px 10px #f1747480;
}

.main-titles.popupt-success {
	color: #a4db85;
	margin-top: 10px;
	margin-bottom: 25px;
	text-shadow: 0 0 2px #a4db8580, 0 0 2px #a4db8580;
}

.main-titles.popupt-success span {
	border: 5px solid #a4db85;
	box-shadow: 0px 1px 10px #a4db85;
}

.text-popupt_error {
	color: #aaa6ca;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

/* Buttons Styles */
.button {
	align-items: center;
	background: #1a1a33;
	border: none;
	border-radius: 5px;
	color: #aaa6ca;
	cursor: pointer;
	display: inline-flex;
	font-size: 20px;
	font-weight: 500;
	justify-content: center;
	overflow: hidden;
	outline: none;
	position: relative;
	padding: 15px 30px;
	text-transform: capitalize;
	transition: all 700ms cubic-bezier(0.65, -0.5, 0.255, 1.5) 0s;
}

.button span {
	position: relative;
	transition: 0.5s ease-in-out all;
	z-index: 2;
}

.button:hover {
	color: #aaa6ca;
	transform: scale(1.1);
}

/* Default Buttons Styles */
.default::after {
	background: none;
	border-radius: 50%;
	border: none;
	content: '';
	height: 1px;
	left: 50%;
	outline: none;
	position: absolute;
	top: 50%;
	transform-origin: center;
	transition: 0.5s ease-in-out all;
	width: 1px;
	z-index: 1;
}

.default:hover::after {
	background: #21213b;
	transform: scale(200);
}

/* Default Buttons Popupts */
.button.success-button_popupt,
.button.error-button_popupt {
	transition: all 0.1s ease;
}

.button.success-button_popupt:hover,
.button.error-button_popupt:hover {
	color: #fff;
}

.default.error-button_popupt:hover::after {
	background: #f17474;
}

.default.success-button_popupt:hover::after {
	background: #a4db85;
}

/* Forms Buttons Styles */
.form-button::after {
	border-bottom: 60px solid #21213b;
	border-right: 60px solid transparent;
	content: '';
	left: -150%;
	position: absolute;
	top: 0;
	transition: 0.5s ease-in-out all;
	width: 150%;
	z-index: 1;
}

.form-button:hover::after {
	left: 0;
}

/* Return Button Styles */
.button-return {
	background: #1a1a33;
	border-radius: 5px;
	left: 2%;
	position: absolute;
	padding: 10px 20px;
	top: 2%;
	transition: all 0.3s ease-in;
	z-index: 100;
}

.button-return i {
	color: #aaa6ca;
	background: transparent;
	opacity: 1;
	transition: all 0.3s ease-in;
}

.button-return:hover {
	opacity: 0.8;
	transform: scale(1.1);
}

.button-return:hover i {
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

/* Forms Styles */
.form-contact {
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
	left: 5%;
	position: relative;
	padding: 30px;
	width: 90%;
	z-index: 2;
}

.form-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.input-box {
	margin: 0 0 40px 0;
	position: relative;
}

.input-box.width-50 {
	width: 47%;
}

.input-box.width-100 {
	width: 100%;
}

.input-box input,
.input-box textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid #aaa6ca;
	color: #aaa6ca;
	font-size: 18px;
	font-weight: 400;
	outline: none;
	padding: 5px 0;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	resize: none;
	width: 100%;
}

.input-box textarea {
	min-height: 120px;
}

.input-box span {
	color: #aaa6ca;
	font-size: 18px;
	font-weight: 300;
	left: 0;
	position: absolute;
	padding: 5px 0;
	pointer-events: none;
	transition: all 700ms cubic-bezier(0.65, -0.5, 0.255, 1.5) 0s;
}

.input-box input:focus ~ span,
.input-box textarea:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:valid ~ span {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	transform: translateY(-20px);
}

.form-button_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

/* Navbar Guide Styles */
.navbar-guide {
	height: 100px;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.main-titles {
		font-size: 30px;
	}

	.main-titles.popupt-success,
	.main-titles.popupt-error {
		font-size: 18px;
	}

	.main-titles.popupt-success span {
		border: 3px solid #a4db85;
	}

	.main-titles.popupt-error span {
		border: 3px solid #f17474;
	}

	.text-popupt_error {
		font-size: 17px;
	}

	/* Forms Styles */
	.input-box.width-50 {
		width: 100%;
	}
}
