/* Globals Styles */
* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

html,
body {
	background: #00001a;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	transition: all 0.5s ease-in;
	width: 5px;
}

*::-webkit-scrollbar-thumb {
	background: #13142a;
	border-radius: 15px;
	transition: all 0.5s ease-in;
}

*:hover::-webkit-scrollbar-thumb {
	background: #21213b;
}

*::selection {
	color: #aaa6ca;
	background: #21213b;
	text-shadow: none;
}

/* Particles Styles */
#particles-js {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 100vh;
	position: relative;
	width: 100%;
}

/* Animation Styles One */
.animation-area {
	height: 100%;
	width: 100%;
}

.box-area {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.box-area li {
	animation: animate 10s linear infinite;
	background: #4e4c6bcc;
	box-shadow: inset -4px -4px 20px 0 #4e4c6bcc, inset 4px 4px 20px 0 rgba(0, 0, 0, 0.8);
	bottom: -180px;
	display: block;
	height: 25px;
	list-style: none;
	position: absolute;
	width: 25px;
}

.box-area li:nth-child(1) {
	animation-delay: 0s;
	height: 80px;
	left: 2%;
	width: 80px;
}

.box-area li:nth-child(2) {
	animation-duration: 10s;
	animation-delay: 1.5s;
	height: 30px;
	left: 12%;
	width: 30px;
}

.box-area li:nth-child(3) {
	animation-delay: 5.5s;
	height: 100px;
	left: 90%;
	width: 100px;
}

.box-area li:nth-child(4) {
	animation-duration: 15s;
	animation-delay: 0s;
	height: 150px;
	left: 42%;
	width: 150px;
}

.box-area li:nth-child(5) {
	animation-delay: 0s;
	height: 40px;
	left: 65%;
	width: 40px;
}

.box-area li:nth-child(6) {
	animation-delay: 3.5s;
	height: 110px;
	left: 15%;
	width: 110px;
}

.box-area li:nth-child(7) {
	animation-duration: 15s;
	animation-delay: 0s;
	height: 100px;
	left: 30%;
	width: 100px;
}

.box-area li:nth-child(8) {
	animation-delay: 0s;
	height: 40px;
	left: 55%;
	width: 40px;
}

.box-area li:nth-child(9) {
	animation-delay: 3.5s;
	height: 110px;
	left: 75%;
	width: 110px;
}

@keyframes animate {
	0% {
		opacity: 1;
		transform: translateY(0) rotate(0deg);
	}
	100% {
		opacity: 0;
		transform: translateY(-800px) rotate(360deg);
	}
}

/* Animation Styles Two */
.animation-area_two {
	position: relative;
	width: 145%;
}

.box-area_two {
	animation: animate-two 3s linear infinite;
	background: radial-gradient(circle at center, #13142a 0%, #0c0c22, #21213b 100%);
	bottom: 0;
	opacity: 1;
	position: absolute;
}

.box-area_two:nth-child(1) {
	animation-duration: 10s;
	animation-delay: 3s;
	height: 80px;
	left: 0;
	width: 80px;
}

.box-area_two:nth-child(2) {
	animation-duration: 14s;
	animation-delay: 5s;
	height: 100px;
	left: 20%;
	width: 100px;
}

.box-area_two:nth-child(3) {
	animation-duration: 8s;
	animation-delay: 7s;
	height: 45px;
	left: 10%;
	width: 45px;
}

.box-area_two:nth-child(4) {
	animation-duration: 12s;
	animation-delay: 3s;
	height: 50px;
	left: 100%;
	width: 50px;
}

.box-area_two:nth-child(5) {
	animation-duration: 8s;
	animation-delay: 1s;
	height: 70px;
	left: 65%;
	width: 70px;
}

.box-area_two:nth-child(6) {
	animation-duration: 10s;
	animation-delay: 5s;
	height: 65px;
	left: 35%;
	width: 65px;
}

.box-area_two:nth-child(7) {
	animation-duration: 12s;
	animation-delay: 5s;
	height: 65px;
	left: 50%;
	width: 65px;
}

.box-area_two:nth-child(8) {
	animation-duration: 16s;
	animation-delay: 5s;
	height: 100px;
	left: 35%;
	width: 100px;
}

.box-area_two:nth-child(9) {
	animation-duration: 8s;
	animation-delay: 2s;
	height: 65px;
	left: 45%;
	width: 65px;
}

.box-area_two:nth-child(10) {
	animation-duration: 12s;
	animation-delay: 4s;
	height: 40px;
	left: 85%;
	width: 40px;
}

@keyframes animate-two {
	0% {
		bottom: 0;
		transform: translateX(0px) rotate(0deg);
	}
	25% {
		transform: translateX(10px) rotate(100deg);
	}
	50% {
		transform: translateX(20px) rotate(200deg);
	}
	75% {
		transform: translateX(30px) rotate(300deg);
	}
	100% {
		bottom: 250vh;
		transform: rotate(360deg);
	}
}

/* Main Titles Styles */
.main-titles {
	color: #aaa6ca;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 50px;
	text-align: center;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	text-transform: capitalize;
}

.main-titles span {
	background: #21213b;
	border: 5px solid #1a1a33;
	box-shadow: 0px 1px 10px #aaa6ca80;
	border-radius: 5px;
	position: relative;
	padding: 0 20px;
}

/* Pop Ups Main Titles Styles */
.main-titles.popups-error {
	color: #f17474;
	margin-top: 10px;
	margin-bottom: 25px;
	text-shadow: 0 0 2px #f1747480, 0 0 2px #f1747480;
}

.main-titles.popups-error span {
	border: 5px solid #f17474;
	box-shadow: 0px 1px 10px #f1747480;
}

.main-titles.popups-success {
	color: #a4db85;
	margin-top: 10px;
	margin-bottom: 25px;
	text-shadow: 0 0 2px #a4db8580, 0 0 2px #a4db8580;
}

.main-titles.popups-success span {
	border: 5px solid #a4db85;
	box-shadow: 0px 1px 10px #a4db85;
}

.text-popups_error {
	color: #aaa6ca;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

/* Buttons Styles */
.button {
	align-items: center;
	background: #1a1a33;
	border: none;
	border-radius: 5px;
	color: #aaa6ca;
	cursor: pointer;
	display: inline-flex;
	font-size: 20px;
	font-weight: 500;
	justify-content: center;
	overflow: hidden;
	outline: none;
	position: relative;
	padding: 15px 30px;
	text-transform: capitalize;
	transition: all 700ms cubic-bezier(0.65, -0.5, 0.255, 1.5) 0s;
}

.button:focus {
	outline: none;
	border: none;
}

.button span {
	position: relative;
	transition: all 700ms cubic-bezier(0.65, -0.5, 0.255, 1.5) 0s;
	z-index: 2;
}

.button:hover {
	color: #aaa6ca;
	transform: scale(1.1);
}

/* Default Buttons Styles */
.default::after {
	background: none;
	border-radius: 50%;
	border: none;
	content: '';
	height: 1px;
	left: 50%;
	outline: none;
	position: absolute;
	top: 50%;
	transform-origin: center;
	transition: 0.8s ease-in-out all;
	width: 1px;
	z-index: 1;
}

.default:hover::after {
	background: #21213b;
	transform: scale(300);
}

/* Default Button Styles For Pop Ups */
.button.success-button_popups,
.button.error-button_popups {
	transition: all 0.1s ease;
}

.button.success-button_popups:hover,
.button.error-button_popups:hover {
	color: #fff;
}

.default.error-button_popups:hover::after {
	background: #f17474;
}

.default.success-button_popups:hover::after {
	background: #a4db85;
}

/* Forms Buttons Styles */
.form-button::after {
	border-bottom: 60px solid #21213b;
	border-right: 60px solid transparent;
	content: '';
	left: -150%;
	position: absolute;
	top: 0;
	transition: 0.5s ease-in-out all;
	width: 150%;
	z-index: 1;
}

.form-button:hover::after {
	left: 0;
}

/* Return Button Styles */
.button-return {
	background: #1a1a33;
	border-radius: 5px;
	left: 2%;
	position: absolute;
	padding: 10px 20px;
	top: 2%;
	transition: all 0.3s ease-in;
	z-index: 100;
}

.button-return i {
	color: #aaa6ca;
	background: transparent;
	opacity: 1;
	transition: all 0.3s ease-in;
}

.button-return:hover {
	opacity: 0.8;
	transform: scale(1.1);
}

.button-return:hover i {
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

/* Forms Styles */
.form-contact {
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
	left: 5%;
	position: relative;
	padding: 30px;
	width: 90%;
	z-index: 2;
}

.form-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.input-box {
	margin: 0 0 40px 0;
	position: relative;
}

.input-box.width-50 {
	width: 47%;
}

.input-box.width-100 {
	width: 100%;
}

.input-box input,
.input-box textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid #aaa6ca;
	color: #aaa6ca;
	font-size: 18px;
	font-weight: 400;
	outline: none;
	padding: 5px 0;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	resize: none;
	width: 100%;
}

.input-box textarea {
	min-height: 120px;
}

.input-box span {
	color: #aaa6ca;
	font-size: 18px;
	font-weight: 300;
	left: 0;
	position: absolute;
	padding: 5px 0;
	pointer-events: none;
	transition: all 700ms cubic-bezier(0.65, -0.5, 0.255, 1.5) 0s;
}

.input-box input:focus ~ span,
.input-box textarea:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:valid ~ span {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	transform: translateY(-20px);
}

.form-button_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

/* Navbar Guide Styles */
.navbar-guide {
	height: 100px;
	width: 100%;
}

@media screen and (max-width: 980px) {
	@keyframes animate {
		100% {
			transform: translateY(-2000px) rotate(360deg);
		}
	}

	.animation-area_two {
		width: 140%;
	}
}

@media screen and (max-width: 600px) {
	.animation-area_two {
		width: 120%;
	}

	/* Main Titles Styles */
	.main-titles {
		font-size: 30px;
	}

	.main-titles.popups-success,
	.main-titles.popups-error {
		font-size: 18px;
	}

	.main-titles.popups-success span {
		border: 3px solid #a4db85;
	}

	.main-titles.popups-error span {
		border: 3px solid #f17474;
	}

	.text-popupt_error {
		font-size: 17px;
	}

	/* Forms Styles */
	.input-box.width-50 {
		width: 100%;
	}
}
