/* Globals Styles */
* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

html,
body {
	background: #00001a;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Particles Styles */
#particles-js {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 100vh;
	position: relative;
	width: 100%;
}

/* Main Titles Styles */
.main-titles {
	color: #aaa6ca;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 50px;
	text-align: center;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
	text-transform: capitalize;
}

.main-titles span {
	background: #21213b;
	border: 5px solid #1a1a33;
	box-shadow: 0px 1px 10px #aaa6ca80;
	border-radius: 5px;
	position: relative;
	padding: 0 20px;
}

/* Buttons Styles */
.button {
	align-items: center;
	background: #1a1a33;
	border: none;
	border-radius: 5px;
	color: #aaa6ca;
	cursor: pointer;
	display: inline-flex;
	font-size: 20px;
	font-weight: 500;
	justify-content: center;
	overflow: hidden;
	outline: none;
	position: relative;
	padding: 15px 30px;
	text-transform: capitalize;
	transition: 0.5s ease all;
}

.button span {
	position: relative;
	z-index: 2;
}

.button:hover {
	color: #aaa6ca;
	transform: scale(1.1);
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

/* Default Buttons Styles */
.default::after {
	background: none;
	border-radius: 50%;
	border: none;
	content: '';
	height: 1px;
	left: 50%;
	outline: none;
	position: absolute;
	top: 50%;
	transform-origin: center;
	transition: all ease-in-out 0.5s;
	width: 1px;
	z-index: 1;
}

.default:hover::after {
	background: #21213b;
	transform: scale(200);
}

/* Navbar Guide Styles */
.navbar-guide {
	height: 100px;
	width: 100%;
}

/*=====================
(XS we check in 320px)
=====================*/
@media screen and (max-width: 600px) {
	.main-titles {
		font-size: 30px;
	}
}
