/* Home Page Styles */
.home-page_container {
	background: url(../img/homePage.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 60vh;
	margin-bottom: 30px;
	position: relative;
	width: 100vw;
	z-index: 1;
}

.home-page_container::after {
	background: rgba(0, 0, 0, 0.4);
	content: '';
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

/* Welcome Styles */
.content-container {
	height: 45vh;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.content-container .description {
	left: 50%;
	position: absolute;
	top: calc(50% + 50px);
	transform: translate(-50%, -50%);
	width: 90%;
}

.content-container .description h1 {
	color: #fff;
	font-size: 50px;
	padding-top: 100px;
	text-align: center;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.content-container .description h1 span {
	color: #0077ff;
	text-shadow: 0 0 10px rgba(0, 119, 255, 0.5), 0 0 10px rgba(0, 119, 255, 0.5);
}

.content-container .description p {
	color: #fff;
	font-size: 20px;
	padding-top: 15px;
	text-align: center;
}

/* Button Styles */
.content-container .description a {
	color: #fff;
	display: inline-block;
	font-size: 24px;
	letter-spacing: 4px;
	overflow: hidden;
	position: relative;
	padding: 5px 30px;
	transition: all 0.3s ease-in;
}

.content-container .description a:hover {
	background: rgb(0, 119, 255);
	box-shadow: 0 0 10px rgb(0, 119, 255), 0 0 40px rgb(0, 119, 255), 0 0 80px rgb(0, 119, 255);
	transition-delay: 1s;
}

.content-container .description a span {
	display: block;
	position: absolute;
}

.content-container .description a #spanOne {
	background: linear-gradient(90deg, transparent, rgb(0, 119, 255));
	height: 2px;
	left: -100%;
	top: 0;
	width: 100%;
}

.content-container .description a:hover #spanOne {
	left: 100%;
	transition: 1s;
}

.content-container .description a #spanTwo {
	background: linear-gradient(180deg, transparent, rgb(0, 119, 255));
	height: 100%;
	top: -100%;
	right: 0;
	width: 2px;
}

.content-container .description a:hover #spanTwo {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

.content-container .description a #spanThree {
	background: linear-gradient(270deg, transparent, rgb(0, 119, 255));
	bottom: 0;
	height: 2px;
	right: -100%;
	width: 100%;
}

.content-container .description a:hover #spanThree {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.content-container .description a #spanFour {
	background: linear-gradient(360deg, transparent, rgb(0, 119, 255));
	bottom: -100%;
	height: 100%;
	left: 0;
	width: 2px;
}

.content-container .description a:hover #spanFour {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}

/* Navbar Styles */
.navbar-container {
	background: transparent;
	display: flex;
	height: 50px;
	justify-content: space-between;
	position: fixed;
	top: 0;
	transition: all ease-in 0.5s;
	width: 100%;
	z-index: 1000;
}

.navbar-container_scroll {
	background: #2c2c2c;
}

.logo-container {
	left: 5%;
	position: relative;
	top: 5px;
}

.bars-button {
	display: none;
}

.navbar-container nav {
	position: relative;
}

.navbar-container nav ul {
	padding: 10px 0;
}

.navbar-container nav ul li {
	display: inline;
	padding: 0px 20px;
}

.navbar-container nav ul li a {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	position: relative;
}

.navbar-container nav ul .login-responsive a {
	color: #0077ff;
	font-weight: 500;
}

.navbar-container nav ul li a::after {
	background: #0077ff;
	bottom: 0;
	content: '';
	height: 2px;
	opacity: 0;
	position: absolute;
	right: 0;
	transition: 0.5s all ease-in-out;
	width: 0;
}

.navbar-container nav ul li a:hover::after {
	opacity: 1;
	transition: 0.5s all ease-in-out;
	width: 100%;
}

.navbar-container nav ul li a:hover {
	color: #0077ff;
	opacity: 1;
	text-shadow: 0 0 10px rgba(0, 119, 255, 0.5), 0 0 10px rgba(0, 119, 255, 0.5);
}

/*=====================
(MD we check in 1024px)
=====================*/
@media screen and (max-width: 1199px) {
	.navbar-container nav ul li {
		padding: 0px 10px;
	}

	.navbar-container .logo-container {
		left: 2%;
	}
}

/*=====================
(SM we check in 768px)
=====================*/
@media screen and (max-width: 980px) {
	.content-container .description h1 {
		padding-top: 40px;
	}

	.content-container .description p {
		font-size: 20px;
	}

	.navbar-container {
		background: #2c2c2c;
		overflow: hidden;
	}

	.navbar-container .logo-container {
		left: 5%;
		position: relative;
		top: 5px;
		width: 40%;
	}

	.navbar-container .logo-container img {
		width: 100% !important;
	}

	.navbar-container .bars-button {
		display: block;
		height: 100%;
		position: relative;
		right: 5%;
	}

	.navbar-container .bars-button a i {
		background: transparent;

		color: #0077ff;
		font-size: 45px;
		position: relative;
		transition: 0.3s all ease-in-out;
	}

	.navbar-container .bars-button a:hover i {
		color: #0077ff;
		text-shadow: 0 0 10px rgba(0, 119, 255, 0.5), 0 0 10px rgba(0, 119, 255, 0.5);
	}

	.navbar-container nav {
		align-items: center;
		background: rgb(0, 119, 255);
		display: flex;
		height: 0;
		justify-content: center;
		left: -100%;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 50px;
		text-align: center;
		transition: all 0.5s ease-in-out;
		width: 100vw;
	}

	.navbar-container nav.show-menu {
		height: 100vh;
		left: 0%;
		opacity: 1;
	}

	.navbar-container nav ul .login-responsive {
		color: #fff;
	}

	.navbar-container nav ul li {
		display: block;
		padding: 20px 0px;
	}

	.navbar-container nav ul li a {
		color: #fff !important;
		font-size: 25px !important;
	}

	.navbar-container nav ul li a::after {
		background: #fff;
	}

	.navbar-container nav ul li a:hover {
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
	}
}

/*=====================
(XS we check in 320px)
=====================*/
@media screen and (max-width: 600px) {
	.home-page_container {
		height: 55vh;
	}

	.content-container .description h1 {
		font-size: 25px;
	}

	.content-container .description p {
		font-size: 17px;
	}

	.navbar-container .logo-container {
		width: 50%;
	}
}
