/* Home Page Styles */
.home-page_container {
	background: #0c0c22;
	height: 100vh;
	margin-bottom: 30px;
	position: relative;
	width: 100vw;
}

/* Welcome Styles */
.content-container {
	height: 100%;
	position: absolute;
	width: 100%;
}

.content-container .description {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 90%;
}

.content-container .description h1 {
	color: #fff;
	font-size: 50px;
	padding-top: 100px;
	text-align: center;
	text-shadow: 0 0 5px #ffffff80, 0 0 10px #ffffff80;
}

.content-container .description h1 span {
	color: #4e4c6b;
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

.content-container .description p {
	color: #fff;
	font-size: 20px;
	padding-top: 15px;
	text-align: center;
}

@media screen and (max-width: 980px) {
	.content-container .description h1 {
		padding-top: 40px;
	}

	.content-container .description p {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) {
	.content-container .description h1 {
		font-size: 30px;
	}

	.content-container .description p {
		font-size: 17px;
	}
}
