/* Login Admin Styles */
.login-admin {
	height: 100vh;
	position: absolute;
	width: 100vw;
}

.login-admin-content {
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 70vw;
}

.login-admin-content .form-contact {
	background: #13142a;
}

@media screen and (max-width: 600px) {
	.login-admin-content {
		width: 100vw;
	}
}
