/* Products Styles */
.products-container {
	height: auto;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}

.image-container {
	border-radius: 3px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
	margin-top: 40px;
	width: 85%;
}

.image {
	box-shadow: 0px 5px 4px #2c2c2c80;
	margin-bottom: 25px;
	height: 250px;
	overflow: hidden;
	position: relative;
	width: 32%;
}

.image img {
	height: 100%;
	transition: 0.5s all ease-in-out;
	width: 100%;
}

.image:hover img {
	transform: scale(1.5, 1.5);
}

.overlay {
	background: rgba(0, 118, 192, 0.781);
	height: 0;
	left: 100%;
	overflow: hidden;
	position: absolute;
	top: -100%;
	transition: 0.5s ease;
	width: 100%;
}

.overlay h2,
.overlay h3 {
	color: #fff;
	font-weight: 300;
	font-size: 25px;
	left: 50%;
	position: relative;
	top: 50%;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
	text-align: center;
	transform: translate(-50%, -50%);
}

.overlay h3 a {
	color: #fff;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.image:hover .overlay {
	cursor: pointer;
	height: 100%;
	left: 0%;
	top: 0;
}

/*=====================
(MD we check in 1024px)
=====================*/
@media screen and (max-width: 1199px) {
	.image-container {
		width: 95%;
	}
}
/*=====================
(SM we check in 768px)
=====================*/
@media screen and (max-width: 980px) {
	.image-container {
		width: 90%;
	}
	.image {
		width: 48%;
	}
}
/*=====================
(XS we check in 320px)
=====================*/
@media screen and (max-width: 600px) {
	.image-container {
		width: 98%;
	}
	.image {
		width: 80%;
	}
}
