/* Products Styles */
.products-container {
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}

.products-structure {
	margin-top: 80px;
	position: relative;
	width: 100%;
}

.product-area {
	position: relative;
}

.button-group_products {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
	width: 100%;
}

.button-group_products button {
	background: transparent;
	border: none;
	color: #4e4c6b;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	outline: none;
	position: relative;
	text-transform: capitalize;
	transition: all 0.3s ease-in;
}

.button-group_products button:hover {
	transform: scale(1.1);
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

.button-group_products button.active {
	transform: scale(1.1);
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

.grid .our-project .title h4 {
	color: #4e4c6b;
	font-size: 20px;
	font-weight: 500;
	text-transform: capitalize;
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

.grid .our-project .img {
	border-radius: 5px;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
	background: linear-gradient(180deg, #21213be6 0%, #13142ae6 90%);
	height: 200px;
	overflow: hidden;
	transition: 0.3s all ease-in;
}

.grid .our-project .img img {
	height: 100%;
	transition: 0.3s all ease-in;
	width: 100%;
}

.grid .our-project .img:hover img {
	opacity: 0.5;
	transform: scale(1.1, 1.1);
}

/*=====================
(SM we check in 768px)
=====================*/
@media screen and (max-width: 980px) {
	.button-group_products {
		flex-direction: column;
	}

	.button-group_products button {
		padding-bottom: 20px;
		text-align: left;
	}

	.button-group_products button:hover {
		transform: translateX(10px);
	}

	.button-group_products button.active {
		transform: translateX(10px);
	}
}
