/* San Francisco City  Styles  */
.header-container_sf {
	background: #0c0c22;
	height: 70vh;
	margin-bottom: 100px;
	position: relative;
	width: 100vw;
}

.header-container_sf .box-area_two {
	clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

/* Content Styles */
.content-sf {
	color: #aaa6ca;
	left: 50%;
	position: absolute;
	top: calc(50% + 50px);
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: capitalize;
	width: 90%;
	z-index: 1;
}

.content-sf h2 {
	font-size: 50px;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.content-sf h3 {
	font-size: 40px;
	font-weight: 400;
	padding: 20px 0;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

/* Problematic And Solution Styles */
.problem-and_solution {
	margin-bottom: 100px;
	position: relative;
	width: 100%;
}

.problem-and_solution-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 5%;
	margin-top: 70px;
	width: 90%;
}

.container-problematic_image_and-solution {
	height: 300px;
	width: 45%;
}

.description-of_problem-and_solution {
	width: 45%;
}

.description-of_problem-and_solution p {
	color: #aaa6ca;
	font-size: 20px;
	padding-top: 10px;
	text-align: justify;
}

/* Parts Game Styles */
.game-description_container {
	background: #0c0c22;
	margin-bottom: 100px;
	position: relative;
	padding: 40px 0;
	width: 100%;
}

.game-description_container .box-area li {
	animation: animate-sfc 20s linear infinite;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

@keyframes animate-sfc {
	0% {
		opacity: 1;
		transform: translateY(0) rotate(0deg);
	}
	100% {
		opacity: 0;
		transform: translateY(-2000px) rotate(360deg);
	}
}

.game-description_container .main-titles {
	padding-top: 15px;
}

.game-description_container .main-titles span {
	z-index: 2;
}

.parts-game_container {
	align-items: center;
	background: #13142a;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 5%;
	margin-top: 80px;
	padding: 20px 0;
	position: relative;
	width: 90%;
	z-index: 5;
}

.image-container_sf {
	height: 300px;
	width: 45%;
	z-index: 1;
}

.specifications-container {
	height: 300px;
	overflow: hidden;
	overflow-y: scroll;
	text-align: center;
	transition: 0.5s all ease-in-out;
	width: 45%;
	z-index: 2;
}

.specifications-container h2 {
	color: #4e4c6b;
	font-size: 50px;
	letter-spacing: 2px;
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
	text-transform: capitalize;
}

.specifications-container p {
	color: #aaa6ca;
	font-size: 20px;
	padding-top: 10px;
	padding-right: 15px;
	text-align: justify;
}

.specifications-container p span {
	color: #4e4c6b;
	text-transform: capitalize;
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

/* Rules Of The Game Styles */
.rules-of_the-game_container {
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}

.container-description_rules {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	left: 5%;
	margin: 80px 0;
	position: relative;
	width: 90%;
}

.rules-container {
	width: 45%;
}

.rules-container ul {
	width: 100%;
}

.rules-container ul li {
	color: #aaa6ca;
	font-size: 20px;
	margin-bottom: 10px;
}

.rules-container ul li i {
	color: #4e4c6b;
	background: transparent;
	opacity: 1;
	padding-right: 5px;
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

.rules-container ul li i:hover {
	background: transparent;
}

.rules-container ul li hr {
	background: #4e4c6b;
	height: 2px;
}

.rules-container ul li span {
	color: #4e4c6b;
	text-shadow: 0 0 10px #4e4c6b80, 0 0 10px #4e4c6b80;
}

.rules-container ul li ul {
	padding-left: 15%;
}

.rules-container ul li ul {
	padding-top: 10px;
}

.text-popups_sfc {
	color: #aaa6ca;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

@media screen and (max-width: 980px) {
	.container-problematic_image_and-solution {
		margin-top: 20px;
		width: 100%;
	}

	.description-of_problem-and_solution {
		order: 2;
		width: 100%;
	}

	@keyframes animate-sfc {
		100% {
			transform: translateY(-3500px) rotate(360deg);
		}
	}

	.parts-game_container {
		padding: 20px 10px;
	}

	.image-container_sf {
		margin-top: 30px;
		order: 2;
		width: 100%;
	}

	.specifications-container {
		margin-top: 10px;
		width: 100%;
	}

	.specifications-container p {
		padding-right: 0px;
	}

	.rules-container {
		width: 100%;
	}

	.footer {
		position: relative;
		top: 0px;
	}
}

@media screen and (max-width: 600px) {
	@keyframes animate-sfc {
		100% {
			transform: translateY(-6000px) rotate(360deg);
		}
	}
	.content-sf h2 {
		font-size: 20px;
	}

	.content-sf h3 {
		font-size: 17px;
	}

	.image-container_sf {
		margin-top: 20px;
		order: 2;
		width: 100%;
	}

	.specifications-container {
		height: auto;
		margin-top: 10px;
		overflow-y: none;
		width: 100%;
	}

	.main-titles.title-popups_sfc {
		font-size: 17px;
	}

	.main-titles.title-popups_sfc span {
		border: 3px solid #13142a;
	}

	.text-popups_sfc {
		font-size: 17px;
	}
}
