/* Welcome User Styles */
.welcome-user {
	height: 100vh;
	position: relative;
	width: 100vw;
}

.welcome-user_content {
	color: #aaa6ca;
	font-weight: 400;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	text-transform: capitalize;
	text-align: center;
	text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.welcome-user_content h2 {
	font-size: 45px;
}

.welcome-user_content P {
	font-size: 20px;
	padding-top: 10px;
}

@media screen and (max-width: 600px) {
	.welcome-user_content {
		width: 90vw;
	}
	.welcome-user_content h2 {
		font-size: 30px;
	}
}
