/*=====================================================
|-Estilos Servicios                                   |
=====================================================*/
.contenedorServicios {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.contenedorServicios .contenedorCajas {
	display: flex;
	flex-wrap: wrap;
}

.contenedorServicios .main {
	position: relative;
	width: 100%;
	height: 380px;
	text-align: center;
	cursor: pointer;
	margin-top: 80px;
}

.contenedorServicios .main .services {
	position: absolute;
	background: rgb(0, 119, 255);
	padding: 30px;
	border-radius: 10px;
	bottom: 0;
	box-shadow: 0 15px 20px -15px rgb(0, 119, 255);
	transition: transform 0.8s ease-in-out;
	z-index: 1;
}

.contenedorServicios .main .services .logosServicios {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: -90px auto 0;
	background: #fff;
	border: 18px solid rgb(0, 119, 255);
}

.contenedorServicios .main .services .logosServicios img {
	width: 50px;
	margin-top: 20px;
	transition: transform 1s ease-in-out;
}

.contenedorServicios .main .services h4 {
	position: relative;
	margin: 10px 0;
	text-align: center;
	font-size: 17px;
	text-transform: capitalize;
	color: #ffffff;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
	background: rgb(0, 119, 255);
}

.contenedorServicios .main .services p {
	font-size: 1rem;
	color: #fff;
	text-align: justify;
}

.contenedorServicios .main .shadowOne {
	position: absolute;
	width: 80%;
	height: 200px;
	background: rgb(0, 119, 255);
	border-radius: 10px;
	bottom: 0;
	left: 10%;
	box-shadow: 0 15px 20px -15px rgb(0, 119, 255);
	transition: transform 0.8s ease-in-out;
	z-index: -1;
}

.contenedorServicios .main .shadowTwo {
	position: absolute;
	width: 64%;
	height: 200px;
	background: rgb(0, 119, 255);
	border-radius: 10px;
	bottom: 0;
	left: 18%;
	box-shadow: 0 15px 20px -15px rgb(0, 119, 255);
	z-index: -2;
}

.contenedorServicios .main:hover .services {
	transform: translateY(-50px);
}

.contenedorServicios .main:hover .shadowOne {
	transform: translateY(-25px);
}

.contenedorServicios .main:hover img {
	transform: rotate(360deg);
}

/*=====================================================
|-Diseño Responsive                                    |
=====================================================*/
/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/
@media screen and (max-width: 600px) {
	.contenedorServicios .contenedorCajas div:nth-child(1) {
		margin-top: 60px;
	}

	.contenedorServicios .contenedorCajas div {
		margin-top: 150px;
	}
}
